body {
    font-family:  'Lato';
}
 
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Images/flowers.jpg");
    background-attachment: fixed;
    background-size: cover;
}